# flyctl launch added from .gitignore
**/.env
**/.docker_build
**/bin

**/node_modules

**/.history
**/.vscode
**/.idea

**/.DS_Store

# SQLite Database for sessions & utils
**/fiber.sqlite3

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml

# flyctl launch added from .vscode/record/.gitignore
.vscode/record/**/*
fly.toml
